@import './variables.scss';


.button {
    min-width: 101px;
    margin-top: 35px;
    padding: 5px 18px;
    border: none;
    position: relative;
    background-color: transparent;

    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;

    box-shadow:
        -15px -15px 2px -5px rgba(123, 51, 90, .5),
        -15px 15px 2px -5px rgba(60, 74, 123, .5),
        15px -15px 2px -5px rgba(255, 0, 0, .5),
        15px 15px 2px -5px rgba(60, 123, 68, .5);

    &:active {
        transform: scale(0.9);
        transition: 0.5s transform;
    }

    &__search {
        color: #fff;
        width: 25%;
        margin: 35px auto 0 auto;
        box-shadow:
            -15px -15px 2px -5px rgba(200, 170, 186, 0.5),
            -15px 15px 2px -5px rgba(130, 149, 218, 0.5),
            15px -15px 2px -5px rgba(216, 146, 146, 0.5),
            15px 15px 2px -5px rgba(147, 202, 154, 0.5);
    }

    &_mini {
        min-width: 30px;
        height: 30px;
        padding: 0;
        position: absolute;
        right: 20px;
        top: 0;
    }
}